
body {
  background-color: #f0f8ff;      /* changing background to light blue */
  font-family: 'Arial', sans-serif; /* font */
  margin: 20px;                   /* add spacing */
}

.game {
  display: flex;
  flex-direction: row;            /* placing */
  justify-content: center;
  align-items: flex-start;
  gap: 20px;                      /* spacing */
}

.board-row {
  display: flex;
}

.square {
  background: #fff;               /* we do white background for squares */
  border: 2px solid #999;         /* gray borders */
  font-size: 24px;                /* size for moves */
  font-weight: bold;              /* bold */
  height: 60px;
  width: 60px;
  cursor: pointer;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  transition: background 0.2s;     /* transition */
}

.square:hover {
  background: #ddd;               /* darker when hovering */
}

.highlight {
  background: rgb(255, 0, 153);             /* pink background for winning line */
}

.game-info {
  font-size: 16px;              
}
.selected-move {
  font-weight: bold;              
  color: rgb(102, 255, 0);                     /* green text to easily identify it */
}



