/* src/App.css */

body {
  background-color: #f0f8ff;
  font-family: 'Arial', sans-serif;
  margin: 20px;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-board {
  margin-right: 20px;
}

.game-info {
  font-size: 16px;
}

.board-row {
  display: flex;
}

.square {
  background: #fff;
  border: 2px solid #999;
  font-size: 24px;
  font-weight: bold;
  height: 60px;
  width: 60px;
  cursor: pointer;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
}

.square:hover {
  background: #ddd;
}

.highlight {
  background: yellow;
}

.selected-move {
  font-weight: bold;
  color: red;
}
